*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    background-color: wheat;
    color: #333;
    font-family: 'poppins',serif;
}

#container{
    width: 400px;
    background-color: #f4f4f4;
    margin: 20px auto;
    padding: 30px;
}
